In [14]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import csv
from scipy import stats
from scipy.stats import linregress
from datetime import date
import scipy.stats as st
pd.options.display.float_format = '{:.2f}'.format

In [15]:
gdp_data = pd.read_csv("Resources/gdp_data.csv")
life_expectancy = pd.read_csv("Resources/life_expectancy.csv")

In [20]:
#Dataset appeared to be most complete for years 2011-2013. 2012 appears to be most complete. 
gdp_df = gdp_data.loc[:,["Country Name", "Country Code", "2008","2009","2010","2011"]]
gdp_df["2008"] = gdp_df["2008"].astype(float)
gdp_df["2009"] = gdp_df["2009"].astype(float)
gdp_df["2010"] = gdp_df["2010"].astype(float)
gdp_df["2011"] = gdp_df["2011"].astype(float)
gdp_df = gdp_df.dropna()
gdp_df

,Country Name,Country Code,2008,2009,2010,2011
0,Aruba,ABW,2745251396.65,2498882681.56,2390502793.30,2549720670.39
1,Afghanistan,AFG,10109218067.79,12439087076.77,15856574731.44,17804280538.11
2,Angola,AGO,88538611205.14,70307163678.24,83799496611.20,111789686464.44
3,Albania,ALB,12881353507.85,12044208085.86,11926953213.70,12890866742.65
4,Andorra,AND,4007353156.58,3660530702.97,3355695364.24,3442062830.14
...,...,...,...,...,...,...
259,Kosovo,XKX,5687417606.56,5653792720.20,5830463576.16,6691826522.10
260,"Yemen, Rep.",YEM,26910851361.76,25130274124.25,30906749533.22,32726417878.39
261,South Africa,ZAF,286769029768.39,295937388335.71,375348316917.75,416417032178.54
262,Zambia,ZMB,17910858637.90,15328342303.96,20265556273.58,23460098339.75
263,Zimbabwe,ZWE,4415702800.00,9665793300.00,12041655200.00,14101920300.00

In [21]:
life_exp_df = life_expectancy.loc[:,["Country Name", "Country Code","2008","2009","2010","2011"]]
life_exp_df=life_exp_df.round(2)
life_exp_df=life_exp_df.dropna()
life_exp_df.head()

  Country Name Country Code  2008  2009  2010  2011
0        Aruba          ABW 74.72 74.87 75.02 75.16
1  Afghanistan          AFG 59.93 60.48 61.03 61.55
2       Angola          AGO 53.24 54.31 55.35 56.33
3      Albania          ALB 75.91 76.22 76.56 76.91
5   Arab World          ARB 69.94 70.16 70.35 70.53

In [18]:
life_exp_df.dtypes

Country Name     object
Country Code     object
2012            float64
dtype: object

In [19]:
gdp_df.dtypes

Country Name     object
Country Code     object
2012            float64
dtype: object

In [22]:
#Okay to merge tables in pandas
#Inject master table into pgAdmin
#numeric columns

In [25]:
merged_df = pd.merge(gdp_df, life_exp_df, on = "Country Name")
merged_df

,Country Name,Country Code_x,2008_x,2009_x,2010_x,2011_x,Country Code_y,2008_y,2009_y,2010_y,2011_y
0,Aruba,ABW,2745251396.65,2498882681.56,2390502793.30,2549720670.39,ABW,74.72,74.87,75.02,75.16
1,Afghanistan,AFG,10109218067.79,12439087076.77,15856574731.44,17804280538.11,AFG,59.93,60.48,61.03,61.55
2,Angola,AGO,88538611205.14,70307163678.24,83799496611.20,111789686464.44,AGO,53.24,54.31,55.35,56.33
3,Albania,ALB,12881353507.85,12044208085.86,11926953213.70,12890866742.65,ALB,75.91,76.22,76.56,76.91
4,Arab World,ARB,2078823967037.02,1796358749934.16,2110062113014.68,2501833645178.18,ARB,69.94,70.16,70.35,70.53
...,...,...,...,...,...,...,...,...,...,...,...
233,Kosovo,XKX,5687417606.56,5653792720.20,5830463576.16,6691826522.10,XKX,69.40,69.65,69.90,70.15
234,"Yemen, Rep.",YEM,26910851361.76,25130274124.25,30906749533.22,32726417878.39,YEM,64.89,65.26,65.55,65.77
235,South Africa,ZAF,286769029768.39,295937388335.71,375348316917.75,416417032178.54,ZAF,55.36,56.46,57.67,58.90
236,Zambia,ZMB,17910858637.90,15328342303.96,20265556273.58,23460098339.75,ZMB,52.61,54.13,55.66,57.13
237,Zimbabwe,ZWE,4415702800.00,9665793300.00,12041655200.00,14101920300.00,ZWE,46.50,48.45,50.64,52.90

In [26]:
merged_df.columns

Index(['Country Name', 'Country Code_x', '2008_x', '2009_x', '2010_x',
       '2011_x', 'Country Code_y', '2008_y', '2009_y', '2010_y', '2011_y'],
      dtype='object')

In [30]:
gdp_life_df = merged_df.rename(columns={'Country Name': "Country Name",
                                        'Country Code_x': "Country Code", 
                                        '2008_x':"2008 GDP (Dollars)", 
                                        '2009_x':"2009 GDP (Dollars)",
                                        '2010_x':"2010 GDP (Dollars)",
                                        '2011_x':"2011 GDP (Dollars)", 
                                        'Country Code_y': "Country Code 2", 
                                        '2008_y': "2008 Life Expectancy (Years)", 
                                        '2009_y': "2009 Life Expectancy (Years)", 
                                        '2010_y': "2010 Life Expectancy (Years)", 
                                        '2011_y': "2011 Life Expectancy (Years)"
    
})
del gdp_life_df["Country Code 2"]
gdp_life_df.head()

,Country Name,Country Code,2008 GDP (Dollars),2009 GDP (Dollars),2010 GDP (Dollars),2011 GDP (Dollars),2008 Life Expectancy (Years),2009 Life Expectancy (Years),2010 Life Expectancy (Years),2011 Life Expectancy (Years)
0,Aruba,ABW,2745251396.65,2498882681.56,2390502793.30,2549720670.39,74.72,74.87,75.02,75.16
1,Afghanistan,AFG,10109218067.79,12439087076.77,15856574731.44,17804280538.11,59.93,60.48,61.03,61.55
2,Angola,AGO,88538611205.14,70307163678.24,83799496611.20,111789686464.44,53.24,54.31,55.35,56.33
3,Albania,ALB,12881353507.85,12044208085.86,11926953213.70,12890866742.65,75.91,76.22,76.56,76.91
4,Arab World,ARB,2078823967037.02,1796358749934.16,2110062113014.68,2501833645178.18,69.94,70.16,70.35,70.53