# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [63]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [64]:
weatherpy_data = pd.read_csv("../WeatherPy/cities.csv")
weatherpy_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Berlin,100,DE,1603248869,93,52.52,13.41,52.00,6.93
1,Tasiilaq,100,GL,1603248869,97,65.61,-37.64,32.00,18.34
2,Bambous Virieux,40,MU,1603248869,83,-20.34,57.76,77.00,10.29
3,Yumen,0,CN,1603248869,27,40.28,97.20,59.07,11.25
4,Vila Franca do Campo,20,PT,1603248870,72,37.72,-25.43,59.00,12.75
...,...,...,...,...,...,...,...,...,...
583,Bayir,75,TR,1603249073,82,37.27,28.22,60.80,3.36
584,Port-Cartier,20,CA,1603249025,84,50.03,-66.87,37.99,10.29
585,Grand Gaube,1,MU,1603248844,68,-20.01,57.66,77.00,8.99
586,Shamkhal,40,RU,1603249074,87,43.06,47.34,55.40,6.71
587,Shakawe,0,BW,1603249074,23,-18.37,21.85,68.27,6.51

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [65]:
#configuring gmaps
gmaps.configure(api_key=g_key)

#Store lat and long in locations
locations = weatherpy_data[["Lat", "Lng"]]

#Store Humidity in humidity list
humidity = weatherpy_data["Humidity"]

In [66]:
#Creating the heatmap
#use https://developers.google.com/maps/documentation/javascript/heatmaplayer
fig = gmaps.figure(center=(46.0, -5.0), zoom_level =2)
intensity=np.max(humidity)

#Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

#add layer on top of heat_layer 
fig.add_layer(heat_layer)

#Display above figure
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
#Checking intensity - cannot run with fig code above
intensity

100

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [68]:
# Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 60 and 80
weather_conditions_df = weatherpy_data.loc[(weatherpy_data["Wind Speed"] <= 10) & (weatherpy_data["Cloudiness"] == 0) & \
                                   (weatherpy_data["Max Temp"] >= 70) & (weatherpy_data["Max Temp"] <= 80)].dropna()

weather_conditions_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
19,Dzilam González,0,MX,1603248644,94,21.28,-88.93,75.99,3.24
45,Gaoual,0,GN,1603248892,87,11.75,-13.20,73.90,1.95
125,Sur,0,OM,1603248924,57,22.57,59.53,77.11,4.36
127,Bilma,0,NE,1603248924,18,18.69,12.92,76.10,3.31
144,Dubai,0,AE,1603248827,64,25.26,55.30,73.40,2.24
192,Swan Hill,0,AU,1603248953,30,-35.34,143.55,76.75,7.14
237,Tessalit,0,ML,1603248966,17,20.20,1.01,79.11,9.95
250,Bandarbeyla,0,SO,1603248971,68,9.49,50.81,78.67,8.90
262,Hīt,0,IQ,1603248977,38,33.64,42.83,70.75,6.82
293,Rāmgarh,0,IN,1603248980,83,23.63,85.52,73.40,2.84
300,Kontagora,0,NG,1603248990,66,10.40,5.47,73.72,3.11
302,Doha,0,QA,1603248990,57,25.29,51.53,78.80,5.82
318,Bitkine,0,TD,1603248996,28,11.98,18.21,76.37,2.48
389,Angoche,0,MZ,1603249018,88,-16.23,39.91,72.86,5.30
563,Harnai,0,PK,1603249069,17,30.10,67.94,70.66,3.36

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [77]:
#hotel dataframe
hotel_df = weather_conditions_df.loc[:,["City","Country", "Lat", "Lng"]]


#add Hotel Name into column into the DF
hotel_df["Hotel Name"] = ""

#Testing
hotel_df

                City Country    Lat     Lng Hotel Name
19   Dzilam González      MX  21.28  -88.93
45            Gaoual      GN  11.75  -13.20
125              Sur      OM  22.57   59.53
127            Bilma      NE  18.69   12.92
144            Dubai      AE  25.26   55.30
192        Swan Hill      AU -35.34  143.55
237         Tessalit      ML  20.20    1.01
250      Bandarbeyla      SO   9.49   50.81
262              Hīt      IQ  33.64   42.83
293          Rāmgarh      IN  23.63   85.52
300        Kontagora      NG  10.40    5.47
302             Doha      QA  25.29   51.53
318          Bitkine      TD  11.98   18.21
389          Angoche      MZ -16.23   39.91
563           Harnai      PK  30.10   67.94

In [74]:
#add url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#search for hotels within 5000 meters

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [80]:
for index, row in hotel_df.iterrows():
    # get city name, lat, long from df
    lat = row["Lat"]
    long = row["Lng"]
    city_name = row["City"]
    
    # add keyword to paramaters dict
    params["location"] = f"{lat},{long}"
    
    #store response
    print(f"City: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # store response in results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("No hotel. Moving to next city.")
        
    print("------------")
    
    # Wait to make another api request to avoid SSL Error
    time.sleep(1)

# Print end of search once searching is completed
print("-------End of Search-------")

City: Dzilam González.
No hotel. Moving to next city.
------------
City: Gaoual.
Closest hotel in Gaoual is Hôtel Koliba.
------------
City: Sur.
Closest hotel in Sur is Sur Plaza Hotel.
------------
City: Bilma.
No hotel. Moving to next city.
------------
City: Dubai.
Closest hotel in Dubai is Sheraton Grand Hotel, Dubai.
------------
City: Swan Hill.
Closest hotel in Swan Hill is Best Western Burke and Wills Motor Inn.
------------
City: Tessalit.
No hotel. Moving to next city.
------------
City: Bandarbeyla.
Closest hotel in Bandarbeyla is Super secret pirate cove.
------------
City: Hīt.
No hotel. Moving to next city.
------------
City: Rāmgarh.
Closest hotel in Rāmgarh is Hotel J. B palace | Best Hotel in Ramgarh | Best Budegt Hotel | Near Rajrappa Temple.
------------
City: Kontagora.
Closest hotel in Kontagora is Hard Resource lodge.
------------
City: Doha.
Closest hotel in Doha is Al Najada Doha Hotel by Tivoli.
------------
City: Bitkine.
No hotel. Moving to next city.
------------
City: Angoche.
Closest hotel in Angoche is Guest House HESADA.
------------
City: Harnai.
Closest hotel in Harnai is Pakistan State Oil (PSO).
------------
-------End of Search-------

In [81]:
hotel_df

,City,Country,Lat,Lng,Hotel Name
19,Dzilam González,MX,21.28,-88.93,
45,Gaoual,GN,11.75,-13.20,Hôtel Koliba
125,Sur,OM,22.57,59.53,Sur Plaza Hotel
127,Bilma,NE,18.69,12.92,
144,Dubai,AE,25.26,55.30,"Sheraton Grand Hotel, Dubai"
192,Swan Hill,AU,-35.34,143.55,Best Western Burke and Wills Motor Inn
237,Tessalit,ML,20.20,1.01,
250,Bandarbeyla,SO,9.49,50.81,Super secret pirate cove
262,Hīt,IQ,33.64,42.83,
293,Rāmgarh,IN,23.63,85.52,Hotel J. B palace | Best Hotel in Ramgarh | Be...
300,Kontagora,NG,10.40,5.47,Hard Resource lodge
302,Doha,QA,25.29,51.53,Al Najada Doha Hotel by Tivoli
318,Bitkine,TD,11.98,18.21,
389,Angoche,MZ,-16.23,39.91,Guest House HESADA
563,Harnai,PK,30.10,67.94,Pakistan State Oil (PSO)

In [82]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [83]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))